<!DOCTYPE html>
<html lang="en">
  <%- include ('partials/head') %>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="check" viewBox="0 0 16 16">
        <title>blog</title>
        <path
          d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
        />
      </symbol>
    </svg>

    <div class="container py-3">
     <%- include ('partials/header') %> 

      <form action="/publish" method="post">
        <div>
          <div class="mb-3">
            <label for="title" class="form-label">title</label>
            <input type="text" class="form-control" id="title" name="title" />
          </div>
          <div class="mb-3">
            <label for="caption" class="form-label">caption</label>
            <input
              type="text"
              class="form-control"
              id="caption"
              name="caption"
            />
          </div>
          <div class="mb-3">
            <label for="content" class="form-label">content</label>
            <textarea
              class="form-control"
              id="content"
              rows="3"
              name="content"
            ></textarea>
          </div>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">publish</button>
      </form>
      <%- include ('partials/footer') %>
    </div>
  </body>
</html>
